@import 'includes/_direction';

$grid-break-medium: 720px !default;

#bbpress-forums {
    .bbp-the-list {
        &.bbp-members {
            padding: 0;
            margin: 15px 0;

            .bbp-body {
                .bbp-member-avatar {
                    display: block;

                    @include ltr {
                        margin: 0 10px 0 0;
                        float: left;
                    }

                    @include rtl {
                        margin: 0 0 0 10px;
                        float: right;
                    }

                    img {
                        vertical-align: top;
                    }
                }

                .bbp-member-name {
                    font-weight: bold;
                    font-size: 1.1em;
                }

                .bbp-member-meta {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .bbp-item .bbp-item-meta .bbp-item-statistics {
            width: 40%;
        }
    }

    form.bbp-members-directory-filter {
        clear: both;
        margin: 0 0 15px;
        overflow: auto;

        .bbp-members-filter {
            @include ltr {
                float: left;
            }

            @include rtl {
                float: right;
            }
        }

        .bbp-members-sort {
            @include ltr {
                float: right;
            }

            @include rtl {
                float: left;
            }
        }

        select,
        input {
            border-radius: 0;
            padding: 4px;
            margin: 0;
            line-height: 22px;
            height: 22px;
            width: auto;
            box-sizing: content-box;
            box-shadow: none;
            vertical-align: top;
        }

        button {
            width: auto;
            border: none;
            border-radius: 3px;
            padding: 6px 16px;
            margin: 0;
            font-weight: bold;
        }
    }
}

.gdmed-widget {
    &.gdmed-widget-directory {
        .gdmed-directory-member {
            font-size: 14px;
            line-height: 18px;
            margin: 0 0 10px;

            p {
                margin: 0;
                padding: 0;
            }

            .bbp-member-avatar {
                display: block;

                @include ltr {
                    margin: 0 10px 0 0;
                    float: left;
                }

                @include rtl {
                    margin: 0 0 0 10px;
                    float: right;
                }

                img {
                    vertical-align: top;
                }
            }

            .bbp-member-meta {
                margin: 5px 0 0;
                clear: both;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: $grid-break-medium) {
    #bbpress-forums {
        .bbp-the-list {
            .bbp-item {
                &.bbp-header,
                &.bbp-row {
                    .bbp-item-meta {
                        .bbp-item-statistics {
                            display: none;
                        }
                    }
                }
            }
        }

        form.bbp-members-directory-filter {
            .bbp-members-filter,
            .bbp-members-sort {
                float: none;
                text-align: center;
            }

            .bbp-members-sort {
                margin-top: 10px;
            }
        }
    }
}

#bbpress-forums {
    form.bbp-members-directory-filter {
        select,
        input {
            background: #ffffff;
            color :#222222;
            border: 2px solid #e1e1e1;

            &:focus {
                border-color: #bbbbbb;
            }
        }

        button {
            background: #d5d5d5;
            color: #990000;

            &:hover {
                background: #bbbbbb;
                color: #4d0000;
            }
        }
    }
}
