@import 'includes/_direction';

$grid-break-medium: 720px !default;

#bbpress-forums {
    &.bbpress-members-directory {
        font-size: 14px;

        .bbp-pagination {
            float: none;
            clear: both;
            margin: 0 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
            row-gap: 10px;

            @include ltr {
                flex-direction: row;
            }

            @include rtl {
                flex-direction: row-reverse;
            }

            @media only screen and (max-width: 639px) {
                flex-direction: column;
            }

            .bbp-pagination-count,
            .bbp-pagination-links {
                float: none;
            }
        }
    }

    form.bbp-members-directory-filter {
        clear: both;
        margin: 0 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        row-gap: 10px;

        @include ltr {
            flex-direction: row;
        }

        @include rtl {
            flex-direction: row-reverse;
        }

        @media only screen and (max-width: 639px) {
            flex-direction: column;
        }

        select,
        input,
        button {
            border: 1px solid #CCC;
            border-radius: 3px;
            padding: 5px;
            margin: 0;
            line-height: 18px;
            height: 18px;
            font-size: 13px;
            width: auto;
            box-sizing: content-box;
            box-shadow: none;
            vertical-align: top;
        }
    }

    ul.bbp-members {
        font-size: 12px;
        overflow: hidden;
        border: 1px solid #EEE;
        margin-bottom: 20px;
        clear: both;

        li.bbp-header,
        li.bbp-footer {
            overflow: auto;
        }

        ul.members-titles {
            > li {
                @include ltr {
                    float: left;
                    text-align: left;
                }

                @include rtl {
                    float: right;
                    text-align: right;
                }

                &.bbp-member-info {
                    width: 60%;
                }

                &.bbp-member-statistics {
                    width: 15%;
                }

                &.bbp-member-activity {
                    width: 25%;
                }
            }
        }

        li.bbp-body {
            ul.member {
                border-top: 1px solid #EEE;
                overflow: hidden;
                padding: 8px;

                > li {
                    line-height: 18px;

                    @include ltr {
                        float: left;
                        text-align: left;
                    }

                    @include rtl {
                        float: right;
                        text-align: right;
                    }

                    &.bbp-member-info {
                        width: 60%;

                        .bbp-member-avatar {
                            display: block;

                            @include ltr {
                                margin: 0 10px 0 0;
                                float: left;
                            }

                            @include rtl {
                                margin: 0 0 0 10px;
                                float: right;
                            }

                            img {
                                vertical-align: top;
                            }
                        }

                        .bbp-member-name {
                            font-weight: bold;
                            font-size: 1.1em;
                        }

                        .bbp-member-meta {
                            margin: 0;
                            padding: 0;
                        }
                    }

                    &.bbp-member-statistics {
                        width: 15%;

                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }

                    &.bbp-member-activity {
                        width: 25%;

                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

.gdmed-widget {
    &.gdmed-widget-directory {
        .gdmed-directory-member {
            font-size: 14px;
            line-height: 18px;
            margin: 0 0 10px;

            p {
                margin: 0;
                padding: 0;
            }

            .bbp-member-avatar {
                display: block;

                @include ltr {
                    margin: 0 10px 0 0;
                    float: left;
                }

                @include rtl {
                    margin: 0 0 0 10px;
                    float: right;
                }

                img {
                    vertical-align: top;
                }
            }

            .bbp-member-meta {
                margin: 5px 0 0;
                clear: both;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: $grid-break-medium) {
    #bbpress-forums {
        form.bbp-members-directory-filter {
            .bbp-members-filter,
            .bbp-members-sort {
                float: none;
                text-align: center;
            }

            .bbp-members-sort {
                margin-top: 10px;
            }
        }
    }
}
